/* Css for hearder*/
.my_intro{
    text-align: justify;
    color: rgb(175, 170, 170);
}

.post_slider button{
    background-color: rgb(116, 116, 116);
    width: auto;
    height: 50px;
    justify-content: center;
    margin-top:auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
}
@media screen and (max-width:610px) {
    .post_slider button{
        background-color:rgba(116, 116, 116,0.1);
    }
    .post_slider button:hover{
        background-color: rgb(116, 116, 116);
    }

    
}